*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Hind", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #3d3d50;
  font-weight: 300;
  background-color: #f5f5f5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.columns-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.left-col {
  width: 50%;
  text-align: center;
}

.right-col {
  width: 50%;
  background-color: #ffffff;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-image: url(./images/img-profile.JPG);
  background-size: cover;
  background-position: center top;
}

.profile-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -30deg,
  rgba(42, 84, 245, 0.5) 0%,
  rgba(42, 84, 245, 0.5) 40%,
    transparent 60%,
    transparent 100%
  );
}

.content {
  padding: 10%;
}

.heading-primary {
  font-size: 36px;
  color: #ffffff;
  line-height: 1;
}

.lead {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.social-list__item {
  display: inline-block;
  margin: 0 2px;
}

.social-list__link {
  display: block;
  font-size: 12px;
  color: #ffffff;
  width: 34px;
  height: 34px;
  line-height: 33px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.social-list__link:hover {
  border-color : #ffffff;
}

.intro,
.experience {
  padding: 50px;
}

.section-title {
  margin-bottom: 20px;
}

.heading-secondary {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
  color: #bebece;
}

.gray-bg {
  background-color: #f9f9f9;
}

.experience__item {
  margin-bottom: 40px;
}

.experience__item h3 {
  margin: 0 0 10px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.experience__item h4 {
  margin: 0;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
}

.experience__item small {
  color: #888888;
}